<div>
  <p>Filter Games by Average Rating:</p>
  <%= form_tag("/games", method: "get") do %>
    <select name="game[average_rating]">
			<option value=''>Please Select</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select>
    <%= submit_tag "Filter" %>
  <% end %>
</div>
<br>

<div>
  <p>Filter for Games Released Before:</p>
  <%= form_for("game", method: "get") do |f| %>
			<%= f.text_field :release_year %>
      <%= f.submit "Filter" %>
  <% end %>
</div>
<br>


<% if params[:game] %>
	<% if !params[:game][:average_rating].blank? %>
		<% @games = [] %>
		<% Game.all.each do |g| %>
			<% if g.average_rating == params[:game][:average_rating].to_i %>
				<% @games << g %>
			<% end %>
		<% end %>
	<% elsif params[:game][:release_year] %>
			<% @games = Game.released_before(params[:game][:release_year]) %>
		<% end %>
<% end %>


<h4>Games:</h4>
<div>
	<div>
<% @games.each do |g| %>
	<div id="game-<%=  g.id %>">
		<button class="js-more" data-id="<%= g.id %>"><%= g.name %></button>
	</div>
<% end %>
</div>



<div class="new-game">
<button id="game-btn" style="display:block">Add a New Game</button>

<div id="hidden-form" style="display:none">
<%= form_for :game, html: {id: :new_game_form } do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :release_year %>
    <%= f.text_field :release_year %>
    <p>Available On:</p>
    <%= f.collection_check_boxes :console_ids, Console.all, :id, :name %><br>
  <%= f.submit %>
<% end %>
</div>
</div>


<script>
	$(".js-more").on("click", function() {
		   	var id = $(this).data("id");
			$.get("/games/" + id + ".json", function(obj) {
				var moreInfo = "<h3>" + obj["name"] + "</h3><p>" + obj["release_year"] + "</p><p>Available On:" + obj["consoles"]["0"]["name"] + "</p><a href='/games/" + id +"'>See Ratings & Reviews</a>"
				$("#game-" + id).html(moreInfo);
			})
		})

	$(".new-game").on("click", function() {
		document.getElementById("game-btn").style.display = "none";
		document.getElementById("hidden-form").style.display = "block";
	})

    $('.new_game_form').submit(function(event){
      event.preventDefault();
      var values = $(this).serialize();
      var posting = $.post('/games', values);
      posting.done(function(data){
				var game = data;

      })
    });

</script>




