<div>
  <p>Filter Games by Average Rating:</p>
  <%= form_tag("/games", method: "get") do %>
    <select name="game[average_rating]">
			<option value=''>Please Select</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select>
    <%= submit_tag "Filter" %>
  <% end %>
</div>
<br>

<div>
  <p>Filter for Games Released Before:</p>
  <%= form_for("game", method: "get") do |f| %>
			<%= f.text_field :release_year %>
      <%= f.submit "Filter" %>
  <% end %>
</div>
<br>


<% if params[:game] %>
	<% if !params[:game][:average_rating].blank? %>
		<% @games = [] %>
		<% Game.all.each do |g| %>
			<% if g.average_rating == params[:game][:average_rating].to_i %>
				<% @games << g %>
			<% end %>
		<% end %>
	<% elsif params[:game][:release_year] %>
			<% @games = Game.released_before(params[:game][:release_year]) %>
		<% end %>
<% end %>

<button id="alphabetize-games">Alphabetize Games</button>

<h4>Games:</h4>
<div id="games-container">
<% @games.each do |g| %>
	<div id="game-<%=  g.id %>">
		<button data-id="<%= g.id %>"><%= g.name %></button>
	</div>
<% end %>
</div>



<div class="new-game">
	<div id="loadnewgame"></div>
<button id="game-btn" style="display:block">Add a New Game</button>

<div id="hidden-form" style="display:none">
<%= form_for :game do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :release_year %>
    <%= f.text_field :release_year %>
    <p>Available On:</p>
    <%= f.collection_check_boxes :console_ids, Console.all, :id, :name %><br>
  <%= f.submit %>
<% end %>
</div>
</div>


<script>
class Game {
	constructor(id, name, release_year, consoles){
		this.id = id;
		this.name = name;
		this.release_year = release_year;
		this.consoles = consoles;
	}
	moreinfo(){
		return "<h3>" + this.name + "</h3><p>" + this.release_year + "</p><p>Available On: " + this.consoles + "</p><a href='/games/" + this.id + "'>See Ratings & Reviews</a>"
	};

	buttonHTML() {
		return "<div id='game-" + this.id +"'> <button data-id='" + this.id + "'>" + this.name + "</button></div>"
	}
};


function Console(name){
	this.name = name;
}

function compare(a, b) { 
  const nameA = a.name.toUpperCase();
  const nameB = b.name.toUpperCase();

  let comparison = 0;
  if (nameA > nameB) {
    comparison = 1;
  } else {
    comparison = -1;
  }
  return comparison;
}


	$("#games-container").on("click", "button",  function() {
		   	const id = $(this).data("id");
			$.get("/games/" + id + ".json", function(obj) {
					let consoles = "";
					obj["consoles"].forEach(function(console){
						let x = new Console(console["name"]);
						consoles += " " + x.name ;
					})
					let thisgame = new Game(id, obj["name"], obj["release_year"], consoles)
					$("#game-" + id).html(thisgame.moreinfo());
		})
	});

	$("#alphabetize-games").on("click", function(){
		let gamesHTML = [];
		$.get("/games.json", function(obj){
			obj.sort(compare);
			obj.filter(game => game.name[0].toUpperCase() === "P").forEach(function(object){
				let y = new Game(object["id"], object["name"], object["release_year"]);
				gamesHTML += y.buttonHTML();
			})		
			$("#games-container").html(gamesHTML);
		})
	});


	$(".new-game").on("click", function() {
		document.getElementById("game-btn").style.display = "none";
		document.getElementById("hidden-form").style.display = "block";
	})

	$('form:last-child').submit(function(event){
    event.preventDefault();
		const values = $(this).serialize();
		const posting = $.post('/games', values);
		posting.done(function(data) {
			let innerhtml = "<a href='/games/" + data["id"] + "'>Created " + data["name"] + "!</a>"
			$("#loadnewgame").html(innerhtml);
			document.getElementById("hidden-form").style.display = "none";
		});
  });

</script>




