<div class="show-page">
<h1><%= @game.name %></h1>
Release Year:<%= @game.release_year %><br>
Available On: <% @game.consoles.each do |c| %>
					<%= c.name %>
				<% end %>


<div class="avg-rating">
		Average Rating:<%= @game.average_rating %>
</div>


<div class="review-box">
	<% @review = Review.find_by(game_id: @game.id, user_id: session[:user_id]) %>
	<% if @review %>
		<%= link_to "Your Review of this Game", user_path(@user) %>
	<% else %>
		<%= link_to "Review This Game", new_game_review_path(@game) %>
	<% end %>
</div>
</div>

<h4>Reviews</h4>
<% @game.reviews.each do |r| %>
  <p><%= r.user.name %> rates this game: <%= r.rating %> out of 5.
  <div id="r-<%= r.id %>">  <button class="js-ratings" data-id="<%= r.id %>">See Their Review</button></div>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-ratings").on("click", function() {
    var id = $(this).data("id");
    $.get("/games/" + id + "reviews.json", function(obj) {
  	var reviewText = obj["reviews"][id]["content"]
        $("#r-" + id).html(reviewText);
      });
    });
  });
</script>
