
<div class="show-page">
<div id="game-header">
<h1><%= @game.name %></h1>
Release Year:<%= @game.release_year %><br>
Available On: <% @game.consoles.each do |c| %>
					<%= c.name %>
				<% end %>


<div class="avg-rating">
		Average Rating:<%= @game.average_rating %>
</div>
</div>


<div class="review-box">
  <div id="js-review">
    <% gameid = @game.id %>
  </div>
  <% @review = Review.find_by(game_id: gameid, user_id: session[:user_id]) %>
	<% if @review %>
		<%= link_to "Your Review of this Game", user_path(@user) %>
  <% else %>
		<%= link_to "Review This Game", new_game_review_path(@game) %>
	<% end %>
</div>
</div>


<div id="reviews">
<h4>Reviews</h4>
<div id="update-ratings">
<% @game.reviews.each do |r| %>
    <p><%= r.rating %> out of 5.</p><p><%= r.content %></p><br />
<% end %>
</div>
</div>

<button class="js-nextgame" data-id="<%= @game.id %>">Next Game -></button>

<script type="text/javascript" charset="utf-8">
function Game(id, name, release_year, consoles, reviews){
	this.id = id;
	this.name = name;
	this.release_year = release_year;
	this.consoles = consoles;
  this.reviews = reviews;
};

Game.prototype.averagerating = function(average_rating, counter) {
  if (average_rating > 0) {
      average_rating = average_rating / counter;
  } 
  else {
      average_rating = "";
  }  
}

Game.prototype.gameheader = function(average_rating) {
  return "<h1>" + this.name + "</h1><p>Release Year:" + this.release_year + "<br />Available On: " + this.consoles + "<br />Average Rating: " + average_rating + "</p>"
}


function Console(name){
	this.name = name;
}

function Review(rating, content) {
  this.rating = rating;
  this.content = content;
}

$(function() {
  $(".js-nextgame").on("click", function() {
	var id = $(this).data("id") + 1;
      $.get("/games/" + id + ".json", function(obj){
        let consoles = "";
        let reviews = "";
        var average_rating = 0;
        var counter = 0;
        obj["consoles"].forEach(function(console){
          let x = new Console(console["name"]);
          consoles += " " + x.name ;
        })
        obj["reviews"].forEach(function(review){
          let x = new Review(review["rating"], review["content"])
          reviews += "<p>" + x.rating + " out of 5. </p><p>" + x.content + "</p>"
          average_rating += x.rating;
          counter += 1;
        })
        let thisgame = new Game(id, obj["name"], obj["release_year"], consoles, reviews)
        average_rating = thisgame.averagerating(average_rating, counter);
        $("#update-ratings").html(thisgame.reviews);
        $("#game-header").html(thisgame.gameheader(average_rating));
        $(".js-nextgame").data("id", id);
        $("#js-review").erb("<%= gameid = " + id) + "%>")
    });
  });
});
</script>
