
<div class="show-page">
<div id="game-header">
<h1><%= @game.name %></h1>
Release Year:<%= @game.release_year %><br>
Available On: <% @game.consoles.each do |c| %>
					<%= c.name %>
				<% end %>


<div class="avg-rating">
		Average Rating:<%= @game.average_rating %>
</div>
</div>


<div class="review-box">
  <div id="js-review">
    <% gameid = @game.id %>
  </div>
  <% @review = Review.find_by(game_id: gameid, user_id: session[:user_id]) %>
	<% if @review %>
		<%= link_to "Your Review of this Game", user_path(@user) %>
  <% else %>
		<%= link_to "Review This Game", new_game_review_path(@game) %>
	<% end %>
</div>
</div>


<div id="reviews">
<h4>Reviews</h4>
<div id="update-ratings">
<% @game.reviews.each do |r| %>
    <p><%= r.rating %> out of 5.</p><p><%= r.content %></p><br />
<% end %>
</div>
</div>

<button class="js-nextgame" data-id="<%= @game.id %>">Next Game -></button>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-nextgame").on("click", function() {
	var id = $(this).data("id") + 1;
      $.get("/games/" + id + ".json", function(obj){
      	var consoles = "";
      	var average_rating = 0;
        var counter = 0;
        var reviews = "";
        var reviewhtml = "";
        obj["reviews"].forEach(function(elem){
          average_rating += elem["rating"];
          reviewhtml +=  "<p>" + elem["rating"] + " out of 5. </p><p>" + elem["content"] + "</p>"
          counter += 1;
        })
       
	    if (average_rating > 0) {
      		average_rating = average_rating / counter;
	    } 
	    else {
		      average_rating = "";
	    }
      obj["consoles"].forEach(function(elem){
        consoles += (" " + elem["name"]);
      })
      var nextGameHeader = "<h1>" + obj["name"] + "</h1><p>Release Year:" + obj["release_year"] + "<br />Available On: " + consoles + "<br />Average Rating: " + average_rating + "</p>"
      $("#update-ratings").html(reviewhtml);
      $("#game-header").html(nextGameHeader);
      $(".js-nextgame").data("id", id);
      $("#js-review").erb("<%= gameid = " + id) + "%>")
    });
  });
});

</script>
