<!DOCTYPE html>
<html>
  <head>
    <title>RailsGames</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="/layout.css">
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://www.datadoghq-browser-agent.com/datadog-logs-us.js"></script>
    <script>
        // prevent any issues in case of a loading failure of the library
        if (window.DD_LOGS) {
            // Set your client token
            DD_LOGS.init({
                clientToken: 'puba62fc5e31e5665a383ea82196c15c523',
                forwardErrorsToLogs: true,
            });

            // OPTIONAL
            // add global metadata attributes
            DD_LOGS.addLoggerGlobalContext('service', 'browser');
        }
    </script>
  </head>

  <body>
    <h3>Rails Games</h3>
    <div class="nav-bar">
       <% if session[:user_id] %>
        <a href='/games'>Home</a>
        <%= link_to "Profile", user_path(session[:user_id]) %>
        <%= form_tag ({controller: 'sessions', action: 'destroy'}) do %>
          <input type=submit value='Logout' class="nav-bar-submit">
        <% end %>
        <% else %>
          <a href="/users/new">Sign Up</a>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
